.results_container{
    /* display: flex;
    flex-direction: column;
    gap: 0;
    height: 200px; */

    display: grid;
    grid-template-columns: 1fr;  
    grid-gap: 0.05rem;  

}

.numbers_wrapper{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    text-align: left;
    justify-content: flex-start;
    margin-left: 3rem;
    position: relative;
    top: 10px;
}

.numbers_wrapper p{
    font-style: italic;
    font-weight: 800;
    font-size: 6rem;
    margin: -20px 0px;
}


.numbers_wrapper p:first-child{
    color: var(--purple);
    font-size: rem;
}

#result_placeholder{
    font-size: 57px;
    width: max-content;
    position: relative;
    bottom: -40px;
   
}

@media only screen and (max-width: 375px) {
    .numbers_wrapper{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        text-align: left;
        left: -13px;
        top: -14px;
    }
    
    .numbers_wrapper p{
        font-style: italic;
        font-weight: 800;
        font-size: 3.5rem;
        margin: -10px 0;
    }
    
    
    .numbers_wrapper p:first-child{
        color: var(--purple);
    }

    #result_placeholder{
        font-size: 34px;
        width: max-content;
        position: relative;
        bottom: -20px;
       
    }

}